<div class="header-container">
  <div class="logo-container fade-in">
    <h1>STEVEN ANDERSON</h1>
    <h2>GRAPHIC DESIGNER PORTFOLIO</h2>
  </div>
  <nav>
    <button ui-sref="home" style="padding-left: 18px; padding-right: 18px;">HOME</button>
    <button ui-sref="about" style="padding-left: 18px; padding-right: 18px;">ABOUT</button>
    <button ui-sref="developer">DEVELOPER</button>
    <button ui-sref="designer" style="padding-left: 10px; padding-right: 10px;">DESIGNER</button>
  </nav>
</div>

<ul>
  <li id="section1" class="section-row">
    <aside id="section1-title" class="content-title-container" style="background-color: rgb(73, 226, 214);">
      <div class="intro-text-box" style="color: rgb(40, 40, 40);">
        <h1>LOGOS</h1>
        <p>Description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </aside>
    <section id="section1-content" class="content-container">
      <img src="../img/aps-logo-mockup.png">
      <img src="../img/ams-logo-mockup.png">
      <img src="../img/cody-clarke-logo-mockup.png">
    </section>
  </li>

  <li id="section2" class="section-row">
    <aside id="section2-title" class="content-title-container" style="background-color: rgb(40, 40, 40);">
      <div class="intro-text-box" style="color: rgb(73, 226, 214);">
        <h1>EDITORIAL</h1>
        <p>Description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </aside>
    <section class="content-container">
      <img src="../img/kronos-cover-mockup.png">
    </section>
  </li>

  <li id="section3" class="section-row">
    <aside id="section3-title" class="content-title-container" style="background-color: rgb(73, 226, 214);">
      <div class="intro-text-box" style="color: rgb(40, 40, 40);">
        <h1>BIRTH MOTHER BASKETS</h1>
        <p>Description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </aside>
    <section class="content-container">
      <img src="../img/bmb-gave-love-life.png">
    </section>
  </li>
</ul>

<nav-directive></nav-directive>
