<nav-directive></nav-directive>

<header class="header-container">

  <div class="logo-container fade-in">
    <object>
      <embed class="logo" src="../img/webDeveloper_logo.svg" />
    </object>
  </div>

  <img class="home-keyboard" src="../img/header-images/apple_small_keyboard.png" alt="" />
  <img class="home-keyboard-shadow" src="../img/header-images/apple_small_keyboard_shadow.png" alt="" />
  <img class="home-ballpoint" src="../img/header-images/ballpoint_pen01.png" alt="" />
  <img class="home-ballpoint-shadow" src="../img/header-images/ballpoint_pen01_shadow.png" alt="" />
  <img class="home-earbuds" src="../img/header-images/earbuds_white.png" alt="" />
  <img class="home-earbuds-shadow" src="../img/header-images/earbuds_white_shadow.png" alt="" />
  <img class="home-felt-pen" src="../img/header-images/felt_pen.png" alt="" />
  <img class="home-felt-pen-shadow" src="../img/header-images/felt_pen_shadow.png" alt="" />
  <img class="home-iMac-above" src="../img/header-images/iMac.png" alt="" />
  <img class="home-iMac-above-shadow" src="../img/header-images/iMac_shadow.png" alt="" />
  <img class="home-mouse" src="../img/header-images/Logitech_Mouse.png" alt="" />
  <img class="home-mouse-shadow" src="../img/header-images/Logitech_Mouse_shadow.png" alt="" />
  <!-- <img class="home-pencil" src="../img/header-images/pencil01.png" alt="" />
  <img class="home-pencil-shadow" src="../img/header-images/pencil01_shadow.png" alt="" /> -->
  <img class="home-sharpie" src="../img/header-images/sharpie.png" alt="" />
  <img class="home-sharpie-shadow" src="../img/header-images/sharpie_shadow.png" alt="" />
  <img class="home-bamboo" src="../img/header-images/wacom_bamboo_tablet_w500.png" alt="" />
  <img class="home-bamboo-shadow" src="../img/header-images/wacom_bamboo_tablet_w500_shadow.png" alt="" />

</header>

<ul>
  <li id="section1" class="section-row" style="background-color: rgba(103, 256, 244, 1);">
    <aside id="section1-title" class="content-title-container" style="background-color: rgba(103, 256, 244, 1);">
      <div class="intro-text-box" style="color: rgba(40, 40, 40, 1);">
        <div id="section1-text" class="sticky-position-box wow fadeInLeft" data-wow-duration="2s" data-wow-offset="10" style="background-color: rgba(103, 256, 244, 1);">
          <h1>Chat Room Clone</h1>

          <hr width="95%" align="left" color="#282828"/>

          <p>Description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <br>

          <p>Check out the app on my <a href="https://github.com/stevenanderson37/cookie-chat" target="_blank">GitHub</a></p>
        </div>
      </div>
    </aside>
    <div id="section1-content" class="content-container" style="background-color: rgba(103, 256, 244, 1);">
      <img class="wow fadeInRight" data-wow-duration="2s" data-wow-offset="10" src="../img/chatClone_fullView.png">
    </div>
  </li>

  <li id="section2" class="section-row" style="background-color: rgba(60, 60, 60, 1);">
    <aside id="section2-title" class="content-title-container" style="height: 100vh; background-color: rgba(60, 60, 60, 1);">
      <div class="intro-text-box" style="color: rgba(103, 256, 244, 1);">
        <div id="section2-text" class="sticky-position-box wow fadeInLeft" data-wow-duration="2s" style="background-color: rgba(60, 60, 60, 1);">
          <h1>Quotebook Clone</h1>

          <hr width="95%" align="left" color="#67fff4"/>

          <p>Description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <br>

          <p>Check out the app on my <a href="https://github.com/stevenanderson37/quoteBook" target="_blank">GitHub</a></p>
        </div>
      </div>
    </aside>
    <!-- <a class="content-container" style="background-color: rgba(60, 60, 60, 1);">
      <img src="../img/quotebook_incomplete.png">
    </a> -->
    <div class="content-container wow fadeInRight" data-wow-duration="2s" style="background-color: rgba(60, 60, 60, 1);">
      <quotebook-dir></quotebook-dir>
    </div>
  </li>

  <li id="section3" class="section-row" style="background-color: rgba(103, 256, 244, 1);">
    <aside id="section3-title" class="content-title-container" style="height: 100vh; background-color: rgba(103, 256, 244, 1);">
      <div class="intro-text-box" style="color: rgba(40, 40, 40, 1);">
        <div id="section3-text" class="sticky-position-box wow fadeInLeft" data-wow-duration="2s" style="background-color: rgba(103, 256, 244, 1);">
          <h1>Wikimedia Clone</h1>

          <hr width="95%" align="left" color="#282828"/>

          <p>Description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <br>

          <p>Check out the app on my <a href="https://github.com/stevenanderson37/wikimedia-layout" target="_blank">GitHub</a></p>
        </div>
      </div>
    </aside>
    <div class="content-container" style="background-color: rgba(103, 256, 244, 1);">
      <img class="wow fadeInRight" data-wow-duration="2s" src="../img/wikimedia-clone.png">
    </div>
  </li>

</ul>

<div style="z-index: 10;">
  <footer-directive></footer-directive>
</div>
