<div class="header-container">
  <div class="header-nav">
    <nav>
      <button ui-sref="home" style="padding-left: 28px; padding-right: 28px;">HOME</button>
      <button ui-sref="about" style="padding-left: 28px; padding-right: 28px;">ABOUT</button>
      <button ui-sref="developer" style="padding-left: 15px; padding-right: 15px;">DEVELOPER</button>
      <button ui-sref="designer" style="padding-left: 20px; padding-right: 20px;">DESIGNER</button>
    </nav>
  </div>

  <div class="logo-container fade-in">
    <object>
      <embed src="../img/webDeveloper_logo_cropped.svg" />
    </object>
  </div>
</div>

<ul>
  <li id="section1" class="section-row">
    <aside id="section1-title" class="content-title-container" style="background-color: rgba(73, 226, 214, .65);">
      <div class="intro-text-box" style="color: rgb(40, 40, 40);">
        <h1>Chat Room Clone</h1>

        <p>Description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </aside>
    <section id="section1-content" class="content-container" style="background-color: rgba(73, 226, 214, .65);">
      <img src="../img/chatClone_fullView.png">
    </section>
  </li>

  <li id="section2" class="section-row">
    <aside id="section2-title" class="content-title-container" style="height: 100vh; background-color: rgba(40, 40, 40, 1);">
      <div class="intro-text-box" style="color: rgb(73, 226, 214);">
        <h1>Wikimedia Clone</h1>
        <p>Description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </aside>
    <section class="content-container" style="background-color: rgba(40, 40, 40, 1);">
      <img src="../img/wikimedia-clone.png">
    </section>
  </li>

  <li id="section3" class="section-row">
    <aside id="section3-title" class="content-title-container" style="height: 100vh; background-color: rgba(73, 226, 214, .65);">
      <div class="intro-text-box" style="color: rgb(40, 40, 40);">
        <h1>Quotebook Clone</h1>
        <p>Description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </aside>
    <section class="content-container" style="background-color: rgba(73, 226, 214, .65);">
      <img src="../img/quotebook_incomplete.png">
    </section>
  </li>
</ul>

<nav-directive></nav-directive>
