<div class="header-container">
  <div class="header-nav">
    <nav>
      <button ui-sref="home" style="padding-left: 28px; padding-right: 28px;">HOME</button>
      <button ui-sref="about" style="padding-left: 28px; padding-right: 28px;">ABOUT</button>
      <button ui-sref="developer" style="padding-left: 15px; padding-right: 15px;">DEVELOPER</button>
      <button ui-sref="designer" style="padding-left: 20px; padding-right: 20px;">DESIGNER</button>
    </nav>
  </div>

  <div class="logo-container fade-in">
    <object>
      <embed src="../img/webDeveloper_logo_cropped.svg" />
    </object>
  </div>


</div>
