<div class="header-nav-placeholder"></div>
<div class="header-nav">
  <nav>
    <button ui-sref="home" class="animated-button zoomIn" style="padding-left: 28px; padding-right: 28px;">HOME</button>
    <button ui-sref="developer" class="animated-button zoomIn" style="padding-left: 15px; padding-right: 15px;">DEVELOPER</button>
    <button ui-sref="designer" class="animated-button zoomIn" style="padding-left: 20px; padding-right: 20px;">DESIGNER</button>
    <button ui-sref="about" class="animated-button zoomIn" style="padding-left: 28px; padding-right: 28px;">ABOUT</button>
    <button ui-sref="contact" class="animated-button zoomIn" style="padding-left: 28px; padding-right: 28px;">CONTACT</button>
  </nav>
</div>
