<div id="contact-section" class="footer-margin"></div>

<footer>
  <br><br><br>
  <a class="revealed-footer-links" ng-click="openMailer()">
    <img src="../img/icons/close-envelope.svg" />
    <h3>happygoatdesigns@gmail.com</h3>
  </a>

  <a class="revealed-footer-links" href="https://github.com/stevenanderson37" target="_blank">
    <img src="../img/icons/github-logo.svg" />
    <h3>https://github.com/stevenanderson37</h3>
  </a>

  <a class="revealed-footer-links" href="https://www.linkedin.com/in/anderson-steven/" target="_blank">
    <img src="../img/icons/linkedin-logo.svg" />
    <h3>https://www.linkedin.com/in/anderson-steven/</h3>
  </a>
  <br><br><br><br><br><br>
</footer>
