<!-- <div class="sticky-navbar-placeholder"> -->
  <nav class="sticky-navbar fixed-navbar">
    <div class="sticky-navbar-links">
      <div class="sticky-nav-links"><a id="sticky-about-link">
        <img src="../img/about.svg" />
      </a></div>
      <div class="sticky-nav-links" id="star-left">
        <img src="../img/star.svg" />
      </div>
      <div class="sticky-nav-links"><a id="sticky-developer-link">
        <img src="../img/developer.svg" />
      </a></div>
      <div class="sticky-nav-links"><a id="sticky-designer-link">
        <img src="../img/designer.svg" />
      </a></div>
      <div class="sticky-nav-links" id="star-right">
        <img src="../img/star.svg" />
      </div>
      <div class="sticky-nav-links"><a id="sticky-contact-link">
        <img src="../img/contact.svg" />
      </a></div>
    </div>

    <embed class="sticky-nav-logo" src="../img/developer_designer_logo.svg" />
  </nav>
<!-- </div> -->
