@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);

.header-container {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding-top: 25vh;
  background-color: rgb(40, 40, 40);
  background-size: cover;
  text-align: center;
  position: relative;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  animation:fadeIn ease-in 1;

  animation-fill-mode:forwards;

  animation-duration:1s;

  animation-delay: 0.7s;
}

/*.fixed {
  position: fixed;
  top: 0;
}*/

.header-container nav {
  margin-top: 25vh;
}

.header-container svg {
  width: 75%;
  height: 75vh;
  margin-top: -10%;
}

.header-container path {
  width: 100%;
}

.header-container button {
  margin-left: 5px;
  margin-right: 5px;
}

button:hover {
  box-shadow: 0px 0px 1px 1px rgb(73, 226, 214);
}

.intro-text-box {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #FFF;
  /*text-shadow: rgb(40, 40, 40) 0px 0px 3px;*/
  font-size: 4vw;
  padding-top: 20vh;
  margin: auto;
}

.intro-text-box p {
  font-size: 2vw;
  font-weight: 300;
  text-shadow: rgb(40, 40, 40) 0px 0px 0px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  text-align: justify;
}

.header-container h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #FFF;
  font-style: normal;
  font-size: 8vw;
  margin: auto;
}

.header-container h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: rgb(73, 226, 214);
  font-style: normal;
  font-size: 3.5vw;
  margin-top: 20px;
}

.section-row {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
}


/* ∨ Specifically styles for the portfolio pages. ∨ */

.content-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: auto;
  /*float: right;*/
  /*overflow: auto;*/
  background-color: white;
  border-style: solid;
  border-bottom: thin dotted lightgray;
}

.content-container img {
  /*justify-content: center;*/
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin: auto;
  padding: 5%;
}

/* ∨ Specifically styles for the portfolio pages. ∨ */

.content-title-container {
  /*position: fixed;*/
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 100vh;
}
