@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.nav-top {
  width: 100%;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  position: fixed;
  top: 0;
}

.header-nav-placeholder {
  width: 100%;
  height: 75px;
  background: rgba(255,255,255,0.5);
  padding-top: 18px;
  text-align: center;
}

.header-nav {
  width: 100%;
  height: 75px;
  background: rgba(255,255,255,0.9);
  padding-top: 18px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

button {
  height: 40px;
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: rgba(15, 15, 15, 1);
  color: rgba(255,255,255,1);
  /*padding: 10px;*/
}

button:hover {
  box-shadow: 0px 0px 1px 1px rgb(73, 226, 214);
  background-color: rgba(15, 15, 15, .75);
  cursor: pointer;
}

button:active {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}

/* LANDING PAGE */

.header-container {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #f6f6f6;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.header-container img {
  position: absolute;
}

.home-keyboard {
  width: 400px;
  /*width: 32vw;*/
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 0px;
  margin-left: -195px;
  /*margin-left: -15.5vw;*/
  margin-bottom: -75px;
}

.home-keyboard-shadow {
  width: 400px;
  /*width: 32vw;*/
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0px;
  margin-left: -195px;
  /*margin-left: -15.5vw;*/
  margin-bottom: -75px;
}

.home-ballpoint {
  height: 60px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  margin-top: -25px;
  margin-right: -30px;
  -ms-transform: rotate(.91turn);
  -webkit-transform: rotate(.91turn);
  -moz-transform: rotate(.91turn);
  -o-transform: rotate(.91turn);
  transform: rotate(.91turn);
}

.home-ballpoint-shadow {
  height: 60px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin-top: -25px;
  margin-right: -30px;
  -ms-transform: rotate(.91turn);
  -webkit-transform: rotate(.91turn);
  -moz-transform: rotate(.91turn);
  -o-transform: rotate(.91turn);
  transform: rotate(.91turn);
}


.home-felt-pen {
  width: 60px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  margin-top: -100px;
  margin-right: 45px;-ms-transform: rotate(.655turn);
  -webkit-transform: rotate(.655turn);
  -moz-transform: rotate(.655turn);
  -o-transform: rotate(.655turn);
  transform: rotate(.655turn);
}

.home-felt-pen-shadow {
  width: 60px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin-top: -85px;
  margin-right: 45px;
  -ms-transform: rotate(.655turn);
  -webkit-transform: rotate(.655turn);
  -moz-transform: rotate(.655turn);
  -o-transform: rotate(.655turn);
  transform: rotate(.655turn);
}

.home-sharpie {
  height: 60px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  margin-top: 100px;
  margin-right: -130px;
  -ms-transform: rotate(.9turn);
  -webkit-transform: rotate(.9turn);
  -moz-transform: rotate(.9turn);
  -o-transform: rotate(.9turn);
  transform: rotate(.9turn);
}

.home-sharpie-shadow {
  height: 60px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin-top: 100px;
  margin-right: -130px;
  -ms-transform: rotate(.9turn);
  -webkit-transform: rotate(.9turn);
  -moz-transform: rotate(.9turn);
  -o-transform: rotate(.9turn);
  transform: rotate(.9turn);
}

/*.home-pencil {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}

.home-pencil-shadow {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}*/

.home-earbuds {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  margin-left: -75px;
  margin-bottom: -50px;
  -ms-transform: rotate(.625turn);
  -webkit-transform: rotate(.625turn);
  -moz-transform: rotate(.625turn);
  -o-transform: rotate(.625turn);
  transform: rotate(.625turn);
}

.home-earbuds-shadow {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  margin-left: -75px;
  margin-bottom: -50px;
  -ms-transform: rotate(.625turn);
  -webkit-transform: rotate(.625turn);
  -moz-transform: rotate(.625turn);
  -o-transform: rotate(.625turn);
  transform: rotate(.625turn);
}

.home-iMac-above {
  width: 700px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-top: -100px;
  margin-left: -350px;
}

.home-iMac-above-shadow {
  width: 700px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  margin-top: -100px;
  margin-left: -350px;
}

.home-mouse {
  width: 135px;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  margin-bottom: -10px;
  -ms-transform: rotate(.9turn);
  -webkit-transform: rotate(.9turn);
  -moz-transform: rotate(.9turn);
  -o-transform: rotate(.9turn);
  transform: rotate(.9turn);
}

.home-mouse-shadow {
  width: 135px;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin-bottom: -10px;
  -ms-transform: rotate(.9turn);
  -webkit-transform: rotate(.9turn);
  -moz-transform: rotate(.9turn);
  -o-transform: rotate(.9turn);
  transform: rotate(.9turn);
}

.home-bamboo {
  width: 400px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  margin-left: -150px;
  margin-top: -75px;
  -ms-transform: rotate(.625turn);
  -webkit-transform: rotate(.625turn);
  -moz-transform: rotate(.625turn);
  -o-transform: rotate(.625turn);
  transform: rotate(.625turn);
}

.home-bamboo-shadow {
  width: 400px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin-left: -150px;
  margin-top: -75px;
  -ms-transform: rotate(.625turn);
  -webkit-transform: rotate(.625turn);
  -moz-transform: rotate(.625turn);
  -o-transform: rotate(.625turn);
  transform: rotate(0.625turn);
}

.logo-container {
  width: 100vw;
  height: 45vh;
  margin: 3.5vh auto;
  text-align: center;
}

.logo-container svg {
  width: 500px;
  height: auto;
  position: absolute;
  margin: auto;
  margin-top: -225px;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  overflow: visible;
  fill: #000000;
  z-index: 1000;
}

.logo-container embed {
  width: 630px;
  height: auto;
  position: absolute;
  margin: auto;
  margin-top: -350px;
  top: 50%;
  left: 50%;
  margin-left: -315px;
  overflow: visible;
  fill: #000000;
  z-index: 1000;
}

/* NAVBAR */

.landing-page-nav {
  width: 475px;
  height: auto;
  margin-left: calc(50% - 283px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 150px;
}

.landing-page-nav img {
  height: 28px;
  width: auto;
}

.landing-page-nav img:hover {
  opacity: 0.3;
}

#developer-link {
  padding-right: 50px;
}

#designer-link {
  padding-right: 25px;
}

.anchors img {
  height: 40px;
  width: auto;
}

/* STICKY NAVBAR */

.sticky-navbar-placeholder {
  width: 100%;
  height: 75px;
  margin: auto;
}

.fixed-navbar {
  position: fixed;
  transform: translateY(-80px);
}

.sticky-navbar {
  width: 100%;
  height: 75px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border-bottom: 1px solid #cccccc;*/
  -webkit-box-shadow: 0px 7px 12px -7px rgba(0,0,0,.3);
  -moz-box-shadow: 0px 7px 12px -7px rgba(0,0,0,.3);
  box-shadow: 0px 7px 12px -7px rgba(0,0,0,.3);
  z-index: 1000px;
  /*transform: translateY(-80px);*/
  transition: transform 600ms;
}

.sticky-nav-logo-placeholder {
  cursor: pointer;
  width: auto;
  height: 75px;
}

.sticky-nav-logo {
  height: auto;
  width: 90px;
  position: absolute;
  margin: auto;
  /*margin-bottom: 6px;*/
  bottom: 6px;
  left: calc(50% - 45px);
}

.sticky-navbar-links {
  width: 600px;
  height: 75px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}

.sticky-navbar img {
  height: 15px;
  width: auto;
}

.sticky-navbar img:hover {
  opacity: 0.3;
}

#sticky-developer-link {
  padding-right: 60px;
}

#sticky-designer-link {
  padding-left: 65px;
}

#star-left img:hover {
  opacity: 1.0;
}

#star-right img:hover {
  opacity: 1.0;
}

/*.home-developer-portfolio .anchors {
  padding-bottom: 25px;
}*/

/* CONTACT SIDEBAR */
.contact-icons-sidebar {
  width: 30px;
  height: 200px;
  position: fixed;
  right: 0px;
  bottom: 20px;
  transition: transform 600ms;
  transform: translateX(30px);
}

.fixed-sidebar {
  position: fixed;
  transform: translateX(-30px);
}

.contact-icons-sidebar img {
  width: 90%;
  height: auto;
  margin: auto;
  margin-bottom: 40px;
}

.contact-icons-sidebar img:hover {
  opacity: .5;
}

/* ABOUT */

.home-about-me {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #ffffff;
  text-align: center;
  padding-top: 110px;
}

.home-about-me .anchors img {
  margin-bottom: 2vw;
}

.about-info-container {
  width: 900px;
  height: auto;
  margin: auto;
  margin-bottom: 2vw;
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  text-align: left;
}

.profile-pic-container {
  width: 180px;
  height: 160px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic-container img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: -10px;
}

/*.vertical-line {
  width: 1px;
  height: 180px;
  margin: auto;
  margin-bottom: -2px;
  margin-left: 23px;
  background-color: black;
}*/

.home-about-me p {
  width: 900px;
  height: auto;
  margin: auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 25px;
  padding-left: 25px;
}

/* DEVELOPER PORTFOLIO */

.home-developer-portfolio {
  width: 100%;
  height: auto;
  margin: auto;
  padding-bottom: 50px;
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 110px;
}

.home-developer-portfolio h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  margin-top: 30px;
}

.developer-project-links {
  width: 170px;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  flex-flow: row;
  text-align: center;
}

.developer-project-links a {
  font-family: 'Open Sans Condensed', sans-serif;
}

.developer-project-links p {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.developer-thumbnail-container {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.developer-thumbnail {
  width: 22%;
  height: 28vh;
  margin: auto;
  margin-bottom: 2vw;
  /*background-color: white;*/
}

.developer-thumbnail img {
  width: 100%;
  height: auto;
  margin: auto;
}

.developer-thumbnail-gif {
  width: 22%;
  height: 28vh;
  margin: auto;
  margin-bottom: 2vw;
  /*background-color: white;*/
}

.developer-thumbnail-gif img {
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 25px;
  box-shadow: 0px 0px 9px rgba(0,0,0,.35);
}

.developer-thumbnail-info {
  width: 100%;
  height: 100%;
  margin: auto;
  /*position: absolute;
  top: -100%;*/
}

.developer-thumbnail-title {

}

.home-developer-portfolio h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.additional-projects-container {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.additional-thumbnail-container {
  width: 22%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.home-developer-portfolio h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}

.additional-thumbnail {
  width: 100%;
  height: 28vh;
  margin: auto;
}

.additional-thumbnail img {
  width: 100%;
  height: auto;
  margin: auto;
}

.additional-project-links {
  width: 170px;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row;
  text-align: center;
}

.additional-project-links a {
  font-family: 'Open Sans Condensed', sans-serif;
}

.additional-project-links p {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

/* DESIGNER PORTFOLIO */

.home-design-portfolio {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
  text-align: center;
  padding-top: 110px;
}

.home-design-portfolio h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
}

.home-design-portfolio .additional-thumbnail-container {
  height: auto;
  margin-bottom: 3vw;
}

.home-design-portfolio .additional-projects-container {
  height: auto;
  margin-bottom: 125px;
}

/*.home-design-portfolio .additional-projects-container img {
  box-shadow: 0px 0px 9px rgba(0,0,0,.35);
}*/

.top-arrow-container {
  width: 55px;
  height: 55px;
  margin: auto;
  text-align: center;
  /*border: 1px solid black;
  border-radius: 50%;*/
  background: #ffffff;
}

.anchor-up {
  transform: rotate(180deg);
  margin: auto;
  margin-top: -9px;
  /*margin-left: -2px;*/
}

.anchor-up img {
  height: 40px;
  width: auto;
  margin: auto;
}

.top-arrow-container h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
  padding-left: 4px;
  margin-top: -6px;
}

/* CONTACT */

.home-contact-me {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 110px;
}

/* REVEALED FOOTER */

.footer-margin {
  width: 100vw;
  height: 1px;
  margin: auto;
  margin-bottom: 425px;
  background-color: #f6f6f6;
}

footer {
  width: 100%;
  height: 425px;
  margin: auto;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  display: flex;
  flex-flow: column;
  z-index: -1;
  position: fixed;
  bottom: 0;
  background-color: #f6f6f6;
}

footer a {
  color: #333333;
}

footer a:hover {
  opacity: .5;
}

.revealed-footer-links {
  width: auto;
  height: auto;
  margin: auto;
}

.revealed-footer-links img {
  width: 25px;
  height: auto;
  margin: auto;
  padding-bottom: 5px;
}

.revealed-footer-links h3 {

}

/* OLD PORTFOLIO SECTIONS */

.next-section embed {
  width: 40px;
  height: 40px;
  fill: #000000;
  position: absolute;
  left: 50%;
  margin-left: -12.5px;
  top: 70%;
  margin-top: 5px;
}

.portfolio-work-container {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 5;
}

.intro-text-box {
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 0;
  align-items: center;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #FFF;
  margin: auto;
  display: inline;
}

.sticky-position-box {
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 15vh;
  padding-right: 8vw;
  padding-left: 8vw;
  padding-bottom: 30vh;
}

.intro-text-box h1 {
  margin: auto;
  font-size: 35px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  text-align: left;
}

.intro-text-box p {
  margin: auto;
  font-size: 15px;
  font-family: 'PT Serif', serif;
  text-align: left;
  line-height: 30px;
}

.content-title-container {
  width: 50%;
  height: auto;
  position: relative;
  /*padding-left: 8vw;*/
  /*padding-right: 8vw;*/
  /*padding-top: 15vh;*/
  display: inline;
}

.section-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*overflow: auto;*/
}

#section1 a {
  color: #282828;
  text-decoration: underline;
}

#section1 a:hover {
  opacity: .75;
  cursor: pointer;
}

#section2 a {
  color: #67fff4;
  text-decoration: underline;
}

#section2 a:hover {
  color: rgba(103, 255, 244, .75);
  cursor: pointer;
}

#section3 a {
  color: #282828;
  text-decoration: underline;
}

#section3 a:hover {
  opacity: .75;
  cursor: pointer;
}

/* Specifically styles for the portfolio pages. */

.content-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: auto;
  /*float: right;*/
  /*overflow: auto;*/
  /*background-color: white;
  border-style: solid;
  border-bottom: thin dotted lightgray;*/
  /*box-shadow: -1px 0px 6px rgb(125, 125, 125);*/
}

.content-container img {
  /*justify-content: center;*/
  align-items: center;
  /*background-position: center;
  background-repeat: no-repeat;*/
  width: 100%;
  margin: auto;
  padding: 5%;
}

/* ∨ FOOTER ∨ */

/*footer {
  width: 100%;
  height: 15vh;
  margin: auto;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: thin solid rgba(15, 15, 15, 1);
  background-color: rgba(235, 235, 235, 1);
  position: relative;
  bottom: 0;

}

footer button {
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: rgba(15, 15, 15, 1);
  color: rgba(255,255,255,1);
  padding: 10px;
}*/

/* ANIMATIONS */

@-ms-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  -ms-opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  opacity: 0;

  -ms-animation:fadeIn ease-in 1;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  -o-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -ms-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -ms-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;

  -ms-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

#home-steven_anderson {

}

#home-swoosh_left {

}

#home-swoosh_right {

}

#home-orem {

}

#home-utah {

}

#home-pen {

}

#home-banner-rays {

}

/* MEDIA QUERIES */

@media(min-width: 1800px) {
  .home-keyboard {
    width: 450px;
    margin-left: -225px;
    margin-bottom: -5px;
  }

  .home-keyboard-shadow {
    width: 450px;
    margin-left: -225px;
    margin-bottom: -5px;
  }

  .home-ballpoint {
    height: 60px;
    margin-top: -25px;
    margin-right: -20px;
  }

  .home-ballpoint-shadow {
    height: 60px;
    margin-top: -25px;
    margin-right: -20px;
  }


  .home-felt-pen {
    width: 60px;
    margin-top: -80px;
    margin-right: 35px;
  }

  .home-felt-pen-shadow {
    width: 60px;
    margin-top: -70px;
    margin-right: 35px;
  }

  .home-sharpie {
    height: 60px;
    margin-top: 175px;
    margin-right: -100px;
  }

  .home-sharpie-shadow {
    height: 60px;
    margin-top: 175px;
    margin-right: -100px;
  }

  .home-earbuds {
    width: 300px;
    height: auto;
    margin-left: -30px;
    margin-bottom: 20px;
  }

  .home-earbuds-shadow {
    width: 300px;
    height: auto;
    margin-left: -29px;
    margin-bottom: 18px;
  }

  .home-iMac-above {
    width: 900px;
    margin-top: -100px;
    margin-left: -450px;
  }

  .home-iMac-above-shadow {
    width: 900px;
    margin-top: -100px;
    margin-left: -450px;
  }

  .home-mouse {
    width: 115px;
    margin-bottom: 45px;
    -ms-transform: rotate(.88turn);
    -webkit-transform: rotate(.88turn);
    -moz-transform: rotate(.88turn);
    -o-transform: rotate(.88turn);
    transform: rotate(.88turn);
  }

  .home-mouse-shadow {
    width: 115px;
    margin-bottom: 45px;
    -ms-transform: rotate(.88turn);
    -webkit-transform: rotate(.88turn);
    -moz-transform: rotate(.88turn);
    -o-transform: rotate(.88turn);
    transform: rotate(.88turn);
  }

  .home-bamboo {
    width: 400px;
    margin-left: -150px;
    margin-top: -60px;
  }

  .home-bamboo-shadow {
    width: 400px;
    margin-left: -150px;
    margin-top: -60px;
  }

  .logo-container {
    width: 100%;
    height: 45vh;
    margin: 3.5vh auto;
    text-align: center;
  }

  .logo-container svg {
    width: 650px;
    margin-top: -300px;
    margin-left: -325px;
  }

  .logo-container embed {
    width: 730px;
    margin-top: -400px;
    margin-left: -365px;
  }
}

@media(max-width: 1250px) {
  .home-keyboard {
    width: 400px;
    margin-left: -191px;
    margin-bottom: -10px;
  }

  .home-keyboard-shadow {
    width: 400px;
    margin-left: -191px;
    margin-bottom: -10px;
  }

  .home-ballpoint {
    height: 50px;
    margin-top: -25px;
    margin-right: -30px;
  }

  .home-ballpoint-shadow {
    height: 50px;
    margin-top: -25px;
    margin-right: -30px;
  }


  .home-felt-pen {
    width: 50px;
    margin-top: -80px;
    margin-right: 45px;
  }

  .home-felt-pen-shadow {
    width: 50px;
    margin-top: -70px;
    margin-right: 45px;
  }

  .home-sharpie {
    height: 50px;
    margin-top: 80px;
    margin-right: -90px;
  }

  .home-sharpie-shadow {
    height: 50px;
    margin-top: 80px;
    margin-right: -90px;
  }

  .home-earbuds {
    width: 250px;
    height: auto;
    margin-left: -40px;
    margin-bottom: -13px;
  }

  .home-earbuds-shadow {
    width: 250px;
    height: auto;
    margin-left: -39px;
    margin-bottom: -15px;
  }

  .home-iMac-above {
    width: 700px;
    margin-top: -100px;
    margin-left: -350px;
  }

  .home-iMac-above-shadow {
    width: 700px;
    margin-top: -100px;
    margin-left: -350px;
  }

  .home-mouse {
    width: 105px;
    margin-bottom: 20px;
  }

  .home-mouse-shadow {
    width: 105px;
    margin-bottom: 20px;
  }

  .home-bamboo {
    width: 300px;
    margin-left: -100px;
    margin-top: -60px;
  }

  .home-bamboo-shadow {
    width: 300px;
    margin-left: -100px;
    margin-top: -60px;
  }
}

@media(max-width: 1035px) {

  .logo-container svg {
    width: 480px;
    margin-top: -225px;
    margin-left: -240px;
  }

  .logo-container embed {
    width: 610px;
    margin-top: -325px;
    margin-left: -305px;
  }

  .home-keyboard {
    width: 385px;
    margin-left: -191px;
    margin-bottom: -10px;
  }

  .home-keyboard-shadow {
    width: 385px;
    margin-left: -191px;
    margin-bottom: -10px;
  }

  .home-ballpoint {
    height: 40px;
    margin-top: -25px;
    margin-right: -30px;
  }

  .home-ballpoint-shadow {
    height: 40px;
    margin-top: -25px;
    margin-right: -30px;
  }


  .home-felt-pen {
    width: 40px;
    margin-top: -80px;
    margin-right: 10px;
  }

  .home-felt-pen-shadow {
    width: 40px;
    margin-top: -70px;
    margin-right: 10px;
  }

  .home-sharpie {
    height: 40px;
    margin-top: 65px;
    margin-right: -80px;
  }

  .home-sharpie-shadow {
    height: 40px;
    margin-top: 65px;
    margin-right: -80px;
  }

  .home-earbuds {
    width: 200px;
    height: auto;
    margin-left: -60px;
    margin-bottom: -18px;
  }

  .home-earbuds-shadow {
    width: 200px;
    height: auto;
    margin-left: -59px;
    margin-bottom: -20px;
  }

  .home-iMac-above {
    width: 670px;
    margin-top: -95px;
    margin-left: -335px;
  }

  .home-iMac-above-shadow {
    width: 670px;
    margin-top: -95px;
    margin-left: -335px;
  }

  .home-mouse {
    width: 95px;
    margin-bottom: 20px;
  }

  .home-mouse-shadow {
    width: 95px;
    margin-bottom: 20px;
  }

  .home-bamboo {
    width: 250px;
    margin-left: -100px;
    margin-top: -60px;
  }

  .home-bamboo-shadow {
    width: 250px;
    margin-left: -100px;
    margin-top: -60px;
  }
}

@media(max-width: 850px) {
  .header-container {
    height: 100vh;
    width: auto;
  }

  .logo-container {
    width: auto;
    height: 100px;
    margin: auto;
    text-align: center;
  }

  .logo-container svg {
    width: 500px;
    margin-top: -250px;
    margin-left: -250px;
  }

  .logo-container embed {
    width: 630px;
    margin-top: -350px;
    margin-left: -315px;
  }

  .home-keyboard {
    width: 385px;
    margin-left: -191px;
    margin-bottom: -20px;
  }

  .home-keyboard-shadow {
    width: 385px;
    margin-left: -191px;
    margin-bottom: -20px;
  }

  .home-ballpoint {
    display: none;
  }

  .home-ballpoint-shadow {
    display: none;
  }


  .home-felt-pen {
    display: none;
  }

  .home-felt-pen-shadow {
    display: none;
  }

  .home-sharpie {
    display: none;
  }

  .home-sharpie-shadow {
    display: none;
  }

  .home-earbuds {
    display: none;
  }

  .home-earbuds-shadow {
    display: none;
  }

  .home-iMac-above {
    width: 670px;
    margin-top: -95px;
    margin-left: -335px;
  }

  .home-iMac-above-shadow {
    width: 670px;
    margin-top: -95px;
    margin-left: -335px;
  }

  .home-mouse {
    display: none;
  }

  .home-mouse-shadow {
    display: none;
  }

  .home-bamboo {
    display: none;
  }

  .home-bamboo-shadow {
    display: none;
  }
}

@media(max-width: 736px) {

  .header-nav {
    height: 45px;
    padding-top: 8px;
  }

  .header-container {
    height: 100vh;
    width: auto;
  }

  button {
    height: 30px;
    font-size: 10px;
  }

  .logo-container {
    width: auto;
    height: 100px;
    margin: auto;
    text-align: center;
  }

  .logo-container svg {
    width: 300px;
    margin-top: -125px;
    margin-left: -150px;
  }

  .logo-container embed {
    width: 360px;
    margin-top: -180px;
    margin-left: -180px;
  }

  .home-keyboard {
    width: 200px;
    margin-left: -100px;
    margin-bottom: -20px;
  }

  .home-keyboard-shadow {
    width: 200px;
    margin-left: -100px;
    margin-bottom: -20px;
  }

  .home-iMac-above {
    width: 400px;
    margin-top: -65px;
    margin-left: -200px;
  }

  .home-iMac-above-shadow {
    width: 400px;
    margin-top: -65px;
    margin-left: -200px;
  }

  .section-row {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    text-align: center;
  }

  .content-title-container {
    width: 100%;
    height: auto;
  }

  .intro-text-box {
    width: 95%;
    height: auto;
    top: 50%;
    left: 50%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #FFF;
    margin: auto;
    display: block;
  }

  .sticky-position-box {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
  }

  .intro-text-box h1 {
    margin: auto;
    font-size: 35px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }

  .intro-text-box p {
    margin: auto;
    font-size: 15px;
    font-family: 'PT Serif', serif;
    text-align: center;
    line-height: 30px;
  }

  .content-container {
    width: 100%;
    text-align: left;
  }
}
